h2{
    text-align: center;
    
}
h3{
    text-align: center;
}
p .sub-main{
    text-align: center;
    te                                                                                                                                                                                             
}